.button_up1 {
	height:50px;
	width:100px;
}
.button_up2 {
	height:50px;
	width:100px;
}
.button_up3 {
	height:50px;
	width:100px;
}
.button_up4 {
	height:50px;
	width:100px;
}
.button_up5 {
	height:50px;
	width:100px;
}
.button_up6 {
	height:50px;
	width:100px;
}
.button_up7 {
	height:50px;
	width:100px;
}
.button_up8 {
	height:50px;
	width:100px;
}
.button_up9 {
	height:50px;
	width:100px;
}
.button_up10 {
	height:50px;
	width:100px;
}
.button_up11 {
	height:50px;
	width:100px;
}
.button_up12 {
	height:50px;
	width:100px;
}
.button_up13 {
	height:50px;
	width:100px;
}
.button_up14 {
	height:50px;
	width:100px;
}
.button_up15 {
	height:50px;
	width:100px;
}
.button_up16 {
	height:50px;
	width:100px;
}
.button_up17 {
	height:50px;
	width:100px;
}
.button_up18 {
	height:50px;
	width:100px;
}
.button_up19 {
	height:50px;
	width:100px;
}
.button_up20 {
	height:50px;
	width:100px;
}
.button_up21 {
	height:50px;
	width:100px;
}
.button_up22 {
	height:50px;
	width:100px;
}